@model System.Collections.Generic.List<AppStatisticsCore.Models.ApplicationViewModel>

<h2></h2>

<div>
    @foreach (var app in Model) {
        var width2 = app.latestExceptions.Count == 0 ? "" : "style=width:150px";
        var width1 = app.latestExceptions.Count == 0 ? "" : "style=width:100px";
        
        <div class="block-area">
            <div class="row">
                <div class="col-med-8">
                    <div class="tile">
                        <div class="tile-title">@app.source.applicationName</div>
                        <div class="p-10">
                            <div class="table-responsive">
                                <h4>Latest Exceptions:</h4>
                                <table class="table table-bordered table-hover tile">
                                    <thead>
                                        <tr>
                                            <td @width1></td>
                                            <td @width2>Time Stamp</td>
                                            <td>Exception Message</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var exc in app.latestExceptions) {
                                            <tr>
                                                <td style="text-align:center">View Details</td>
                                                <td>@exc.timeStamp</td>
                                                <td>@exc.message</td>
                                            </tr>
                                        }

                                        @if(app.latestExceptions.Count == 0) {
                                            <tr>
                                                <td style="text-align:center; width:100%">No data.</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    }
</div>