@model System.Collections.Generic.List<AppStatistics.Core.Models.ApplicationViewModel>

<h2></h2>

<div>
    @foreach (var app in Model) {
        @Html.Partial("_ApplicationCard", app);
        <br />
    }
</div>