<!-- Web Forms help setup page -->

<script>
    $(document).ready(function () {
        var vars = getUrlVars();
        if (vars['section'] != null) {
            $("#section" + vars['section']).goTo();
        }

        $("#lblRedirectExceptions").click(function () {
            if ($("#redirectExceptions").is(':checked')) {
                $(".exceptionRedirect").show();
                $("#_redirectExceptions").html("true");
            } else {
                $(".exceptionRedirect").hide();
                $("#_redirectExceptions").html("false");
            }
        });

        $("#lblRedirectHttpExceptions").click(function () {
            if ($("#redirectHttpExceptions").is(':checked')) {
                $(".httpExceptionRedirect").show();
                $("#_redirectHttpExceptions").html("true");
            } else {
                $(".httpExceptionRedirect").hide();
                $("#_redirectHttpExceptions").html("false");
            }
        });

        $("#lblHandleHttpExceptions").click(function () {
            if ($("#handleHttpExceptions").is(':checked')) {
                //$(".httpExceptionRedirect").show();
                $("#_handleHttpExceptions").html("true");
            } else {
                //$(".httpExceptionRedirect").hide();
                $("#_handleHttpExceptions").html("false");
            }
        });

        $(".exceptionRedirect").hide();
        $(".httpExceptionRedirect").hide();

        $("#_redirectExceptions").html("false");
        $("#_redirectHttpExceptions").html("false");

        cb_onchange();
    });

    (function ($) {
        $.fn.goTo = function () {
            $('html, body').animate({
                scrollTop: $(this).offset().top + 'px'
            }, 'fast');
            return this; // for chaining...
        }
    })(jQuery);

    var getUrlVars = function() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    var cb_onchange = function () {
        //Why did I put so much effort into this
        $("#_appid").html($("#appid").val());
        if ($("#appid").val() == "")
            $("#_appid").html("application_id");

        $("#_endpoint").html($("#endpoint").val());
        if ($("#endpoint").val() == "")
            $("#_endpoint").html("http://cyndev01/Reporting/");

        var path = formatContentPath($("#contentpath").val());

        $("#_contentpath").html(path);
        $("#_contentpathexample").html(path);
        if ($("#contentpath").val() == "") {
            $("#_contentpath").html("\\\\App_Data\\\\Content");
            $("#_contentpathexample").html("\\\\App_Data\\\\Content");
        }

        //_redirectExceptionsPath
        path = formatSitePath($("#redirectExceptionsPath").val());
        $("#_redirectExceptionsPathExample").html(path);
        $("#_redirectExceptionsPath").html(path);

        path = formatSitePath($("#redirectHttpExceptionsPath").val());
        $("#_redirectHttpExceptionsPathExample").html(path);
        $("#_redirectHttpExceptionsPath").html(path);
    }

    var formatSitePath = function (path) {
        if (path.length == 0)
            return path;

        if (path[0] != '/')
            path = '/' + path;

        return path;
    }

    var formatContentPath = function (path) {
        path = $("#contentpath").val().replace(new RegExp(" ", 'g'), "_");

        while (path[path.length - 1] == '\\')
            path = path.substring(0, path.length - 1);

        if (path.length < 3 || path.substring(0, 2) != "\\\\") {
            if (path.substring(0, 1) == "\\") {
                path = "\\" + path;
            } else {
                path = "\\\\" + path;
            }
        }

        return path;
    }
</script>

<form onformchange="cb_onchange()">
    @*<div class="tile">
        <div class="tile-title">Table of Contents</div>
        
        <div class="row">
            <div class="col-sm-4">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover tile" style="width:100%; margin-bottom:0px">

                        <tbody>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td><a style="display:block" href="?section=1">Step ONE - Including the AppStatistics.Common.WebForms library</a></td>
                            </tr>
                            <tr>
                                <td><a style="display:block" href="?section=2">Step TWO - Creating the analytics .asmx webservice</a></td>
                            </tr>
                            <tr>
                                <td><a style="display:block" href="?section=3">Step THREE - Configuring the web.config</a></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-sm-8">
                <div class="p-10">
                    Test Text<br />
                    Line two<br />
                    etc
                </div>
            </div>
        </div>
    </div><br />*@
    <div class="tile" id="section1">
        <div class="tile-title">Step ONE - Including the AppStatistics.Common.WebForms library</div>
        <div class="p-10">
            To use exception logging and analytics reporting, either the 'AppStatistics.Common' or 'AppStatistics.Common.WebForms' assemblies must be included in the project.<br />
            <label style="color:lightcoral">Note: This may require the framework to be updated to .Net Framework 4.6+.</label><br />
            <br />
            If using the 'AppStatistics.Common' library for exception reporting (direct exception logging):
            <ul>
                <li>Configuration can be done through the 'AppStatistics.Common.Reporting.ReportingConfig' static instance</li>
                <li>Analytics is not currently available with this option</li>
            </ul>
        </div>
    </div><br />
    @*<div class="tile" id="section2">
        <div class="tile-title">Step TWO - Creating the analytics .asmx webservice</div>
        <div class="p-10">
            To use the analytics reporting service, the client applicatioin must have an endpoint that serves traffic and session data. <br />
            <label style="color:lightgray">*This step is optional.</label><br />
            <br />
            A .asmx codebehind is available in the AppStatistics.Common.WebForms project. In order to use this, you must:
            <ul>
                <li>Create an empty .asmx file (without codebehind), preferably called "AnalyticsWebService.asmx"</li>
                <li>
                    Copy and paste the following code segment into the .asmx file:<br />
                </li>
            </ul>
            <div class="tile">
                <div class="tile-title">
                    C# Source Code
                </div>
                <div class="p-10" style="margin: 5px, 5px, 5px, 5px">
                    <font face="Courier New">
                        <span>
                            <strong><span style="background-color:khaki; color:black"><%</span></strong>@Html.Raw("@")
                            <span style="color:deepskyblue">WebService</span>
                            <span style="color:lightblue">Language</span>="C#"
                            <span style="color:lightblue">CodeBehind</span>="AnalyticsWebService.asmx.cs"
                            <span style="color:lightblue">Class</span>="AnalyticsWebService"
                            <strong><span style="background-color:khaki; color:black">%></span></strong>
                        </span>
                    </font>
                </div>
            </div>
            <span style="color:lightgray"><strong>*Note: </strong>Take note of the endpoint path of the webservice you've just created as you'll need that later.</span>
        </div>
    </div><br />*@
    <div class="tile" id="section3">
        <div class="tile-title">Step TWO - Configuring the web.config</div>
        <div class="p-10">
            With the choice between the "Common" and "Common.WebForms" libraries for error reporting, there is the choice between automatic and manual exception logging.<br />
            <strong>If you are going to be logging exceptions directly (through the "AppStaticstics.Common" library), skip this step.</strong>
            <br /><br />
            Including the AnalyticsModule<br />
            <ul>
                <li>
                    To include the module, insert the following key in your web.config:
                </li>
            </ul>
            <div class="tile">
                <div class="tile-title">
                    C# Source Code
                </div>
                <div class="p-10" style="margin: 5px, 5px, 5px, 5px">
                    <font face="Courier New">
                        @Html.Raw(ViewData["webconfig1"])
                    </font>
                </div>
            </div>
            <ul>
                <li>
                    To configure AppStatistics, insert the following keys:
                </li>
                <li>
                    The form below can be used to modify the source code below.
                </li>
            </ul>
            <div class="tile">
                <div class="tile-title">Options Parameters</div>
                <div class="p-10">
                    <div class="table-responsive">
                        <table style="width:100%">
                            <tbody>
                                <tr>
                                    <td style="width:250px">AppStatistics API Endpoint:</td>
                                    <td><input type="text" class="form-control m-b-10" id="endpoint" placeholder="http://cyndev01/Reporting/" oninput="cb_onchange()" /></td>
                                </tr>
                                <tr>
                                    <td style="width:250px">Application ID:</td>
                                    <td><input type="text" class="form-control m-b-10" id="appid" placeholder="application_id" oninput="cb_onchange()" /></td>
                                </tr>
                                <tr>
                                    <td style="width:250px">Content Folder Path:</td>
                                    <td><input type="text" class="form-control m-b-10" id="contentpath" placeholder="\\App_Data\\Content" oninput="cb_onchange()" /></td>
                                </tr>
                                <tr>
                                    <td></td><td><span style="color:lightgray">C:\\inetpub\\wwwrooot\\application</span><strong id="_contentpathexample"></strong><br />&nbsp;<br />&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width:250px">Exception Redirect</td>
                                    <td>
                                        <div class="checkbox m-b-5">
                                            <label id="lblRedirectExceptions">
                                                <input type="checkbox" id="redirectExceptions">
                                                Redirect on Exception
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="exceptionRedirect">
                                    <td style="width:250px"></td>
                                    <td><input type="text" class="form-control m-b-10" id="redirectExceptionsPath" placeholder="\\App_Data\\Content" oninput="cb_onchange()" /></td>
                                </tr>
                                <tr class="exceptionRedirect">
                                    <td></td><td><span style="color:lightgray">http://hostname.com/</span><strong id="_redirectExceptionsPathExample"></strong><br />&nbsp;<br />&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width:250px">Http Exception Handling</td>
                                    <td>
                                        <div class="checkbox m-b-5">
                                            <label id="lblHandleHttpExceptions">
                                                <input type="checkbox" id="handleHttpExceptions">
                                                Handle HTTP Exceptions
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:250px"></td>
                                    <td>
                                        <div class="checkbox m-b-5">
                                            <label id="lblRedirectHttpExceptions">
                                                <input type="checkbox" id="redirectHttpExceptions">
                                                Redirect on HTTP Exception
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="httpExceptionRedirect">
                                    <td style="width:250px"></td>
                                    <td><input type="text" class="form-control m-b-10" id="redirectHttpExceptionsPath" placeholder="\\App_Data\\Content" oninput="cb_onchange()" /></td>
                                </tr>
                                <tr class="httpExceptionRedirect">
                                    <td></td><td><span style="color:lightgray">http://hostname.com/</span><strong id="_redirectHttpExceptionsPathExample"></strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tile">
                <div class="tile-title">
                    C# Source Code
                </div>
                <div class="p-10" style="margin: 5px, 5px, 5px, 5px">
                    <font face="Courier New">
                        @Html.Raw(ViewData["webconfig2"])
                    </font>
                </div>
            </div>
        </div>
    </div>
</form>