@model System.Collections.Generic.List<AppStatistics.Core.Models.ApplicationViewModel>

<h2></h2>

<div>
    <div class="tile">
        <div class="tile-title">Create New Application</div>
        <div class="p-10">
            <form method="post" asp-controller="Applications" asp-action="CreateApplication">
                <div class="form-group">
                    <table style="width:100%">
                        <thead>
                            <tr><td></td><td></td></tr>
                            <tr><td></td><td></td></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:150px">Name:</td>
                                <td><input type="text" name="name" class="form-control m-b-10" /></td>
                            </tr>
                            <tr>
                                <td style="width:150px">Description:</td>
                                <td><input type="text" name="desc" class="form-control m-b-10" /></td>
                            </tr>
                            <tr>
                                <td style="width:150px">Guid:</td>
                                <td><input type="text" name="guid" class="form-control m-b-10" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="submit" value="Create Application" class="btn btn-file btn-sm" style="width:100%" />
                </div>
            </form>
        </div>
    </div><br />
    @foreach (var app in Model) {
        @Html.Partial("_ApplicationCard", app);
        <br />
    }
</div>